main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
    cursor: pointer;
}

main img:hover {
    transition: all ease-in-out 0.3s;
          scale: 1.1;
}